body{
  max-width: 100%;
  overflow: scroll;
  margin: 0;
  font-family: Marcellus;
}
.back-img{
  position: fixed;
  top:0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100vh;
}
.navb{
  width: 100%;
  height: 13vh;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(0,0,0,0.9);
  color: white;
}
.logo{
  cursor: pointer;
  margin-left: 40px;
  margin-top: 35px;
  height: 120px;
}
.navb ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navb ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navb ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background:#fff;
  position: absolute;
  left:0;
  bottom:-10px;
  transition: 0.5s;
}
.navb ul li:hover::after{
  width:100%;
}
.txt{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.row{
  position: absolute;
  left:10%;
  width: 80%;
  height:100%;
}
.small{
  width: 100%;
  height: 300px;
}
.long{
  width:100%;
  height: 500px;
}
.hover-underline-animation {
 display: inline-block;
 position: relative;
 color:black;
}

.hover-underline-animation:after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 2px;
 bottom: 0;
 left: 0;
 background-color:black;
 transform-origin: bottom right;
 transition: transform 1s ease-out;
}
.hidden{
  border-style: solid;
  border-color: black;
  border-width: 2.5px;
  box-shadow: 2px;
  position: fixed;
  top:10%;
  left:20%;
  height:80%;
  width:60%;
  background-color: white;
  z-index: 10000;
  visibility: hidden;
}
.hidden-long{
  border-style: solid;
  border-color: black;
  border-width: 3px;
  box-shadow: 2px;
  position: fixed;
  top:2.5%;
  left:31%;
  height:95%;
  width:38%;
  background-color: white;
  z-index: 10000;
  visibility: hidden;
}
.showImg{
  position: absolute;
  top:2.5%;
  left:2.5%;
  height:95%;
  width:95%;
  border: 3px;
  border-style: solid;
  border-color: black;
}
.showImg-large{
  position: absolute;
  top:2.5%;
  left:2.5%;
  height: 95%;
  width:95%;
  border: 3px;
  border-style: solid;
  border-color: black;
}
.close-button{
  position: absolute;
  top:0;
  right:2%;
  border-radius: 50%;
  background-color: black;
  color:white;
}
.hover-underline-animation:hover:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}
