body{
  max-width: 100%;
  overflow: scroll;
  margin: 0;
  font-family: Marcellus;
}
.back-img{
  position: fixed;
  top:0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100vh;
}
.navb{
  width: 100%;
  height: 18vh;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(0,0,0,0.9);
  color: white;
}
.logo{
  cursor: pointer;
  margin-left: 40px;
  margin-top: 35px;
  height: 120px;
}
.navb ul li{
  padding-top: 4px;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navb ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navb ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background:#fff;
  position: absolute;
  left:0;
  bottom:-10px;
  transition: 0.5s;
}
.navb ul li:hover::after{
  width:100%;
}
.txt{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 35px;
}
.row{
  position: absolute;
  left:10%;
  width: 80%;
  height:100%;
}
.small{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.long{
  width:100%;
  height: 500px;
  overflow: hidden;
}
.hover-underline-animation {
 display: inline-block;
 position: relative;
 color:black;
}

.hover-underline-animation:after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 2px;
 bottom: 0;
 left: 0;
 background-color:black;
 transform-origin: bottom right;
 transition: transform 1s ease-out;
}
.gallery-item{
  margin-bottom: 30px;
  margin-right: 10px;
}
.gallery-item img{
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.6s ease-in-out;
}
.gallery-item:hover img{
    transform:scale(1.1);
}
.hover-underline-animation:hover:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}
@media (max-width: 480px) {
  .txt{
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .row{
    position: relative;
    left: 13.5%;
  }
  .logo{
    margin-left: 0;
  }
  .gallery-item{
    margin-bottom: 25px;
  }
  .navb{
    height:16vh;
  }
  .navb ul li{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 65%;
    font-size: 14px;
  }
  .navb ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 14px;
  }
  .navb ul li::after{
    content: '';
    height: 1px;
    width: 0;
    background:#fff;
    position: absolute;
    left:0;
    bottom:-3px;
    transition: 0.5s;
  }
  .gallery-item:hover img{
    transform:scale(1.075);
}

}
