body{
  margin: 0;
  padding: 0;
  font-family: Marcellus;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: url(home_bg.JPG);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar{
  width: 100%;
  height: 5vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(0,0,0,0.8);
  color: white;
}
.logo{
  cursor: pointer;
  margin-left: 40px;
  margin-top: 40px;
  height: 120px;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background:#fff;
  position: absolute;
  left:0;
  bottom:-10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width:100%;
}
.content{
  text-align: center;
}
h1{
  font-size: 65px;
  color: white;
  font-family: Prospec;
}
.button a{
  width: 170px;
  text-decoration: none;
  padding: 10px 0;
  display: inline-block;
  margin: 0 10px;
  border: 2px solid #fff;
  position: relative;
  color:#fff;
  z-index: 1;
  transition: color 0.5s;
  }

.button{
  font-weight: bold;
  word-spacing: 2px;
}
.button a span{
  background: #fff;
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index:-1;
  transition: 0.5s;
}
.button a:hover span{
  width:100%;
}
.button a:hover{
  border:2px solid black;
  color: black;
}
@media screen and (max-width: 600px) {
  .banner{
    background-size:fixed;
  }
  .navbar{
    width: 100%;
    height: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0,0,0,0.8);
    font-size: 18px;
    color: white;
  }
  .logo{
    cursor: pointer;
    margin-left: 5px;
    margin-top: 40px;
    height: 140px;
  }
  
  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    line-height:10px;
    position: relative;
    font-size:18px;
  }
 }
@media (max-width: 480px) {
  body{
    height:100vh;
  }
  .banner{
    overflow: hidden;
  }
  .navbar{
    height:5vh;
    padding: 40px 0;
  }
  .logo{
    margin-left: 0;
    margin-top:40px;
    height:110px;
    width:110px;
  }
  .navbar ul{
    padding-top:2px;
  }
  .navbar ul li{
    margin-top: 0;
    margin-left: 65%;
    font-size: 13px;
  }
  .navbar ul li::after{
    content: '';
    height: 1px;
    width: 0;
    background:#fff;
    position: absolute;
    left:0;
    bottom:-3px;
    transition: 0.5s;
  }
  h1{
    font-size: 45px;
    font-family: Prospec;
  }
  .button a{
    width: 120px;
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #fff;
    position: relative;
    color:#fff;
    z-index: 1;
    transition: color 0.5s;
    }

  .button{
    font-weight: bold;
    word-spacing: 1px;
  }

}

