@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body,
input,
textarea {
  font-family: Marcellus;
  margin:0;
}
body{
  max-width: 100%;
  overflow: hidden;
  background-image: url(backg.png);
  background-size: cover;

}
.navbar{
  width: 100%;
  height: 5vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(0,0,0,0.9);
  color: white;
}
.logo{
  cursor: pointer;
  margin-left: 40px;
  margin-top: 35px;
  height: 120px;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background:#fff;
  position: absolute;
  left:0;
  bottom:-10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width:100%;
}
.container {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.form {
  width: 100%;
  max-width: 780px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: hidden;
  position: relative;
  top:9rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: black;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(115deg, black, gray);
  position: absolute;
}

.circle.one {
  width: 100px;
  height: 100px;
  top: 150px;
  right: -40px;
}

.circle.two {
  width: 60px;
  height: 60px;
  top: 20px;
  right: 40px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  transform: rotate(45deg);
  top: 30px;
  left: -13px;
}

form {
  padding: 1rem 1rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 0.25;
  margin-bottom: 0.5rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 80%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.4rem 1rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 80px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: black;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.5rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 4px;
  background-color: black;
  top: 50%;;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 40%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 80%;
  opacity: 1;
  padding-right: 0.35rem;
}

.contact-info {
  padding: 1rem 1rem;
  position: relative;
}

.contact-info .title {
  color: black;
}

.text {
  color: #333;
  margin: 1rem 0 1rem 0;
  font-size: 0.95rem;
}

.information {
  display: flex;
  color: #555;
  margin: 0;
  align-items: center;
  font-size: 0.85rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 1rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;

}

.social-icons a {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: linear-gradient(45deg, black, gray);
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin-right: 0.7rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.09);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid black;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}


@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }


  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
    body{
      overflow: scroll;
    }
    .navbar{
      height:6vh;
    }
    .logo{
      margin-left:0;
    }
    .navbar ul li{
      margin-top: 2px;
      margin-bottom:2px;
      margin-left:60%;
      font-size: 14px;
    }

  .container {
    padding: 0 1rem;
    max-height: min-content;
  }

  .contact-info:before {
    display: none;
  }
 .navbar ul li::after{
  content: '';
  height: 1px;
  width: 0;
  background:#fff;
  position: absolute;
  left:0;
  bottom:-1px;
  transition: 0.5s;
}
  form,
  .contact-info {
    padding: 0.5rem 0.8rem;
  }
  .text{
    margin: 0.5rem 0;
  }
  .info{
    line-height: 2px;
  }
  .social-media{
    padding: 0;
  }
  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1rem;
    margin:1rem 0;
    font-weight: 500;
    line-height: 2px;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 8px;
  }
  .input-container{
    padding: 0;
    margin: 0.5rem 0;
  }
  .input {
    padding: 0.45rem 1.2rem;
  }
  textarea.input{
    min-height: 15px;
  }
  .btn {
    padding: 0.45rem 1.2rem;
  }
}

